*
{
    font-family: Optima, Helvetica, sans-serif;
}

#title
{
    font-size: 8vw;
    margin: 1vh auto 6vh auto;
    text-align: center;
}

.hide
{
    display: none;
}

.status
{
    font-size: 8vw;
}

.substatus
{
    font-size: 4vw;
}

.center
{
    border-radius: 25px;
    text-align: center;
    padding: 25px;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vh;
}

.horiz
{
    display: none;
}

#yes
{
    background-color: #4cff4c;
}

#enroute
{
    background-color: #ffff56;
}

#no
{
    background-color: #ff3434;
}

#all
{
    background-color: mediumturquoise;
}

.dim
{
    background-color: #4f4f4f;
}

#login
{
    font-size: 2vh;
    position: fixed;
    right: 1vw;
    bottom: 0;
}

@media (min-width: 769px)
{
    .vert
    {
        display: none;
    }

    .horiz
    {
        display: block;
    }
}