*
{
    font-family: Optima, Helvetica, sans-serif;
    color: white;
}

body
{
    background-color: #4f4f4fff;
}

#title
{
    font-size: 8vw;
    margin: 3vh auto 6vh auto;
    text-align: center;
}

.hide
{
    display: none;
}

.status
{
    font-size: 5vw;
}

.substatus
{
    font-size: 3vw;
}

.container
{
    border-radius: 25px;
    text-align: center;
    padding: 25px;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vh;
}

/* links to single container that appears only when screen larger than 769px (media query) */
.horiz
{
    display: none;
}

#login
{
    font-size: 1.5vh;
    position: fixed;
    right: 1vw;
    bottom: 0;
}

/* changes display from three containers to one container to fit screen better */
@media (min-width: 769px)
{
    .vert
    {
        display: none;
    }

    .horiz
    {
        display: block;
    }
}